HMAC/dashboard_API.json
[
  {
    "id": "flow_secure_full",
    "type": "tab",
    "label": "Secure Flow (AES + HMAC)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "http_in_secure",
    "type": "http in",
    "z": "flow_secure_full",
    "name": "Receive Encrypted Temp",
    "url": "/temperature",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 100,
    "wires": [["call_decrypt_api"]]
  },
  {
    "id": "call_decrypt_api",
    "type": "http request",
    "z": "flow_secure_full",
    "name": "Call /decrypt_and_decide",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "<Laptop_IP>:5050/decrypt_and_decide",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 410,
    "y": 100,
    "wires": [["prepare_status"]]
  },
  {
    "id": "prepare_status",
    "type": "function",
    "z": "flow_secure_full",
    "name": "Prepare status JSON",
    "func": "let status = msg.payload.status || \"OFF\";\nmsg.payload = { status: status };\nreturn msg;",
    "outputs": 1,
    "x": 670,
    "y": 100,
    "wires": [["call_encrypt_api"]]
  },
  {
    "id": "call_encrypt_api",
    "type": "http request",
    "z": "flow_secure_full",
    "name": "Call /encrypt_status",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://<Laptop_IP>:5051/encrypt_status",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 950,
    "y": 100,
    "wires": [["send_to_led"]]
  },
  {
    "id": "send_to_led",
    "type": "http request",
    "z": "flow_secure_full",
    "name": "Send to Raspberry Pi LED",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://<RaspberryPi_IP>:5000/led",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1250,
    "y": 100,
    "wires": [["http_response_ok"]]
  },
  {
    "id": "http_response_ok",
    "type": "http response",
    "z": "flow_secure_full",
    "name": "Final HTTP Response",
    "statusCode": "",
    "headers": {},
    "x": 1250,
    "y": 160,
    "wires": []
  }
]
